* {
    box-sizing: border-box
}

body {
    background-color: #952CEB;
}

h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
}

input {
    width: 80%;
    outline: 0;
    border-width: 0 0 2px;
    padding: 0;
    height: 48px;        
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    border-color: #952CEB;
    transition: all .15s ease;
    text-align: center;
}

input:focus {
    border-color: #CB7DEB;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;

}

button {
    width: 50%;
    padding: 0;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 0.5em;
    background-color: #952CEB;
    border-width: 0px 0px 0px;
    color: white;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    width: 50%;
    padding: 0;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #952CEB;
    color: white;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top:auto;
    background-color:#952CEB; 
}

h4 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.img {
    object-fit: contain;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.value-main-container {
    background-color: #ffffff;
    padding: 0.5em 2.5em 2.0em 2.5em;
}

.value-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

.button-calculate {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}

.image-size {
    height: 8.5em;
}

.fas {
    color: #CB7DEB;
}

.hoverInfo{
    border: none;
    transition: all ease-in-out 0.2s;
}
.hoverInfo:hover{
    opacity: 0.7;
}
